<h2>{{#str}}editactivities, tool_modedit{{/str}}</h2>
<p>{{#str}}editactivities_desc, tool_modedit{{/str}}</p>
<ul class="list-unstyled">
    {{#sections}}
    <li class="mb-3">
        <h3><a href="{{{sectioneditlink}}}" title="{{#str}}edit{{/str}} {{name}}">{{name}}</a></h3>
        <ul class="list-unstyled">
            {{#activities}}
                <li class="pl-3 mb-1"><img src="{{{icon}}}" class="iconlarge activityicon" role="presentation" />
                    <a href="{{{editurl}}}" title="{{#str}}edit{{/str}} {{name}}">{{name}}</a>
                </li>
            {{/activities}}
        </ul>
    </li>
    {{/sections}}
</ul>